@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(246, 246, 239);
    font-size: 18px;
    min-height: 100%;
}
h1{
    color: grey;
}

.container{
    max-width: 800px;
    background-color: #fff;
    margin: 0 auto;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.head{
    position: relative;
    width: 100%;
    
}

.foto{
    position: relative;
    padding-top: 1rem;
    display: grid;
    justify-content: center;
}
.myFoto{
    border-radius: 100px; /* Радиус скругления */
    border: 1px solid wheat; /* Параметры рамки */
    box-shadow: 0 0 3px rgb(230, 155, 155);
    width: 30vmin;
    height: 30vmin;
    max-width: 90px;
    max-height: 90px;
}
.header{
    text-align: center;
    margin-top: 20px;
}
.fas{
    color: rgb(47, 144, 201);
}
.visits{
    text-align: center;
    
    display: inline;
}
.count{
    margin-left: 20px;
    color: gray;
    margin-right: 20px;
}
.date{
    margin-left: 20px;
    color: gray;
}
.visits_count{
    margin-top: 20px;
}
footer{
    text-align: center;
    color: gray;
    margin-bottom: 20px;
}
.name{
margin-left: 15px;
}